<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        body{
            padding: 0;
            margin: 0;
        }
    </style>
    <div id='Chatwithus' style='width: 550px; background: rgb(91, 159, 236); text-align: center; border: 3px solid white; border-top-left-radius: 15px; border-top-right-radius: 15px; padding-top: 25px; padding-bottom: 25px; margin-left: 0px;'>
        <span style="color: black; text-align: center; ">Chat with us!</span>
    </div>
</body>
</html>